* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Raleway', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(182, 182, 182); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: black; 
    padding: 20px; 
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: center;
}


.calculator button {
    border: 0;
    outline: 0;
    width: 90px;
    height : 60px;
    border-radius: 5px;
    background: rgb(44, 44, 44);
    font-size: 20px;
    color: #fff;
    margin: 1px;
}

.display + div button{
    background: transparent;
    width: 60px;
    height : 40px;
    font-size: 15px
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display input {
    border: 0;
    outline: 0;
    width: 90px;
    height : 60px;
    border-radius: 5px;
    background: rgb(44, 44, 44);
    font-size: 20px;
    color: #fff;
    margin: 1px;
    
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: transparent;
}
