* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Raleway', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, var(--color-container-bg-grad), var(--color-container-bg)); 
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.calculator {
    background: var(--color-calc-bg); 
    padding: 5px; 
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: center;
}


.calculator button {
    border: 0;
    outline: 0;
    width: 90px;
    height : 60px;
    border-radius: 5px;
    background: var(--color-calc-btn-bg);
    font-size: 18px;
    color: var(--color-calc-font);
    margin: 1px;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 10px 0;
}

.display + div button{
    background: transparent;
    width: 60px;
    height : 40px;
    font-size: 15px;
    padding-top: 5px;
}

.display input {
    border: 0;
    outline: 0;
    width: 90px;
    height : 40px;
    border-radius: 5px;
    font-size: 20px;
    color: var(--color-calc-font);
    margin: 1px;
    
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: transparent;
}

input::placeholder {
    color: var(--color-calc-font);
}

input.small {
    height : 10px;
    font-size: 10px;
    margin-bottom: 0;
    padding-bottom: 0;
    font-weight: lighter;
}

.calculator .operator {
    background: var(--color-calc-btn-bg-darker);
}
.calculator .equal {
    background: var(--color-calc-btn-equal-bg);
    color: black;
}

.calculator button:hover {
    background: var(--color-calc-btn-bg-darker);
}
.calculator .operator:hover {
    background: var(--color-calc-btn-bg);
}
.calculator .equal:hover {
    background: var(--color-calc-btn-equal-bg-hover);
}




/* ===== VARIABLES ======== */
:root {
    --color-container-bg: black;
    --color-container-bg-grad: #4cc3fe;
    --color-calc-bg: #212021;
    --color-calc-btn-bg: #3a3a3b;
    --color-calc-font: #fff;
    --color-calc-btn-bg-darker: #323232;
    --color-calc-btn-equal-bg: #4cc3fe;
    --color-calc-btn-equal-bg-hover: #49b1e9;
}


/* ===== DARK MODE ======== */
@media (prefers-color-scheme: light) {
    :root {
        --color-container-bg: white;
        --color-calc-bg: #f2f3f2;
        --color-calc-btn-bg: #ffffff;
        --color-calc-font: #010100;
        --color-calc-btn-bg-darker: #f9f9f9;
        --color-calc-btn-equal-bg: #49b1e9;
        --color-calc-btn-equal-bg-hover: #4cc3fe;
    }
}