* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', 'Raleway', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: rgb(0, 0, 0); 
    display: flex;
    align-items: center;
    justify-content: center;
}

.calculator {
    background: #212021; 
    padding: 5px; 
    border-radius: 3px;
}

.row {
    display: flex;
    justify-content: center;
}


.calculator button {
    border: 0;
    outline: 0;
    width: 90px;
    height : 60px;
    border-radius: 5px;
    background: #3a3a3b;
    font-size: 18px;
    color: #fff;
    margin: 1px;
}

.display {
    display: flex;
    justify-content: flex-end;
    margin: 20px 0;
}

.display + div button{
    background: transparent;
    width: 60px;
    height : 40px;
    font-size: 15px
}

.display input {
    border: 0;
    outline: 0;
    width: 90px;
    height : 60px;
    border-radius: 5px;
    background: rgb(44, 44, 44);
    font-size: 20px;
    color: #fff;
    margin: 1px;
    
    text-align: right;
    flex: 1;
    font-size: 45px;
    box-shadow: none;
    background: transparent;
}

.calculator .darker {
    background: #323232;
}
.calculator .equal {
    background: #4cc3fe;
    color: black;
}

.calculator button:hover {
    background: #323232;
}
.calculator .darker:hover {
    background: #3a3a3b;
}
.calculator .equal:hover {
    background: #49b1e9;
    color: black;
}